.flash {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
}

.flash-success {
    background-color: #259125;
}

.flash-error {
    background-color: #c91717;
}