{% extends 'base.html.twig' %}

{% block mainTitle %}Inscription avec un fichier CSV!{% endblock %}

{% block body %}
    {% if app.user and app.user.actif %}
        <div class="container">   
            {{ form_start(form) }}
            {{ form_row(form.submitFile) }}
            <button type="submit" class="btn btn-primary">Inscrire</button>    
            {{ form_end(form) }}
        </div>
    {% endif %}
{% endblock %}
