{% extends 'base.html.twig' %}

{# Title #}
{% block title %}Hello MainController!{% endblock %}

{# Body #}
{% block body %}
<div class="">
    <h1>Hello {{ controller_name }}! ✅</h1>
    This friendly message
</div>
{% endblock %}
